#overflow{
    width: 500px;
    height: 500px;
    background-color: whitesmoke;
    border: 2px solid springgreen;
    overflow: scroll;
    overflow-x: hidden;
    /* Best solution for overflow in  the following */
    overflow: auto; 

}