h1{
    font-weight: lighter;
    font-family: 'agbalumo' , 'sans-serif';
}
p{
    font-family: 'lato', 'sans-serif';
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
    font-variant: small-caps;
}